<ng-container [formGroup]="form">
    <div class="form-group" [ngSwitch]="control.controlType">
    
        <!-- label -->
        <label [attr.for]="control.key">{{control.label}}:</label>
    
        <!-- control - switchcases -->
        <div>
            <input
                *ngSwitchCase="'textbox'"
                [id]="control.key"
                [placeholder]="control.placeholder"
                [formControlName]="control.key"
                class="form-control"
                [ngClass]="isTouched && !isValid ? 'border border-danger' : ''"
                [type]="control.type">
    
            <select
                *ngSwitchCase="'dropdown'"
                [id]="control.key"
                class="form-control"
                [ngClass]="isTouched && !isValid ? 'border border-danger' : ''"
                [formControlName]="control.key">
                <option [ngValue]="null">Select Option</option>
                <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
            </select>
        </div>
    
        <!-- error messages -->
        <small class="text-danger" *ngIf="isTouched && !isValid">
            <div *ngIf="errors && errors['required']">
                {{control.label}} is required.
            </div>
            <div *ngIf="errors && errors['minlength']">
                {{control.label}} must be at least {{control.validations.minLength}} characters long.
            </div>
            <div *ngIf="errors && errors['maxlength']">
                {{control.label}} must be less than {{control.validations.maxLength}} characters long.
            </div>
            <div *ngIf="errors && errors['email']">
                {{control.label}} must be a valid email.
            </div>
        </small>
    
    </div>
</ng-container>